@using System.Security.Claims
@model ExpenseTracking.Models.ExpenseView

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Expense</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @{
                var userId = User.FindFirst(ClaimTypes.NameIdentifier)?.Value;
                <div class="form-group">
                    <input type="hidden" asp-for="Expense.UserID" class="form-control" value="@userId" />
                    <span asp-validation-for="Expense.UserID" class="text-danger"></span>
                </div>
            }
            <div class="form-group">
                <label asp-for="Expense.Type" class="control-lable"></label>
                <select asp-for="Expense.Type" class="form-control">
                    <option value="">-- Select Type --</option>
                    <option value="Expences">Expences</option>
                    <option value="Income">Income</option>
                </select>
                <span asp-validation-for="Expense.Type" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Expense.Amount" class="control-label"></label>
                <input asp-for="Expense.Amount" class="form-control" />
                <span asp-validation-for="Expense.Amount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Expense.CategoryName" class="control-label"></label>
                <select asp-for="Expense.CategoryName" class="form-control">
                    <option value="">Select a category</option>
                </select>
                <span asp-validation-for="Expense.CategoryName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Expense.Date" class="control-label"></label>
                <input asp-for="Expense.Date" class="form-control" />
                <span asp-validation-for="Expense.Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Expense.Description" class="control-label"></label>
                <input asp-for="Expense.Description" class="form-control" />
                <span asp-validation-for="Expense.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@{
    var userId2 = User.FindFirst(ClaimTypes.NameIdentifier)?.Value;
    <a asp-controller="Users" asp-action="Details" asp-route-id="@userId2" class="btn btn-secondary">Back to Profile</a>
}

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
