@using System.Security.Claims
@model ExpenseTracking.Models.ExpenseView

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Expense</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @{
                var userId = User.FindFirst(ClaimTypes.NameIdentifier)?.Value;
                <div class="form-group">
                    <input type="hidden" asp-for="Budget.UserId" class="form-control" value="@userId" />
                    <span asp-validation-for="Budget.UserId" class="text-danger"></span>
                </div>
            }

            <div class="form-group">
                <label asp-for="Budget.CategoryId" class="control-label"></label>
                <select asp-for="Budget.CategoryId" class="form-control" asp-items="@(new SelectList(Model.Categories, "Id", "Name"))">
                    <option value="">Select a category</option>
                </select>
                <span asp-validation-for="Budget.CategoryId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Budget.Amount" class="control-label"></label>
                <input asp-for="Budget.Amount" class="form-control" />
                <span asp-validation-for="Budget.Amount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Budget.Period" class="control-label"></label>
                <select asp-for="Budget.Period" class="form-control">
                    <option value="">-- Select Period --</option>
                    <option value="Month">This Month</option>
                    <option value="Week">This Week</option>
                </select>
                <span asp-validation-for="Budget.Period" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
